<!DOCTYPE html>  
{% load static %} 
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home| Safe Medicines</title>
  <meta content="" name="description">

  <meta content="" name="keywords">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %} " rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link type ="text/css" href="{% static 'css/index.css' %}" rel="stylesheet">


</head>


<body>


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">



      <nav id="navbar" class="navbar">
          <a href="/" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %} " alt="">
        <span style="font-family: 'Cookie', cursive; font-size:3rem; ">Safe Medicine</span>
      </a>
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="#appointment">Appointment</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <li><a href="#doctors">Doctors</a></li>
          <li><a href="#faq"><b>FAQs</b></a></li>
	  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user"  style="font-size:2rem" aria-hidden="true"></i></a></a>
          <div class="dropdown-menu text-center">
          
              <a class="dropdown-item " href="/contact"><span style="font-family:'Cookie',cursive;font-size:1.8rem">WelCome</span> <span style="width:9rem;color:blue;font-size:2.2rem;font-family:'Lora',cursive"><i style="font-size:1.1rem">{{request.user}}</i></a>
              <a class="nav-brand" style="font-size:1.4rem" href='/logout'> <i class="fa fa-sign-out" style="font-size:1.3rem" aria-hidden="true"> Log-Out</i></a>
          
          </div>
      </li>
          </ul>
          &nbsp;&nbsp;
              <a href="#gallery"  style="  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;">Book Medicines</a>
        <i class="bi bi-list mobile-nav-toggle nav-brand"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer complete solutions for your health in this pandemic period</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We make sure that genuine medicine and consultancy at your doorsteps</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="https://viame.ae/wp-content/uploads/2019/10/Medical-Delivery-Services.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Values</h2>
          <p>To provide Best Sercvice at your doorsteps</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="https://www.yogrowcer.com/images/medicine-delivery.png" class="img-fluid" alt="">
              <h3>Contact-Less Delivery</h3>
              <p>During pandemic period we provide you a true contact less and safe delivery</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="https://www.mastersoftwaresolutions.com/wp-content/uploads/2019/06/bnr-6.png" class="img-fluid" alt="">
              <h3>Innovative Supply-Chain</h3>
              <p>Adopting new technology like drone and bot delivery available in certain regions</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="https://www.brsoftech.com/br-online-appointment/images/right-banner.png" class="img-fluid" alt="">
              <h3>24/7 Doctor Consultancy</h3>
              <p>We are providing doctors consultancy at your home any time through our meeting app.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="990" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Customers</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
                <p>Orders</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                <p> No Of Employees </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Features</h2>
          <p>Best In class delivery of medicines</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="https://cruzotec.com/wp-content/uploads/2020/11/Group-93-978x1024.png' " class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Min 20% Discount</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Free Home Delivery</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>24/7 Doctors Consultancy</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Locally sourced medicine</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Geniune medicine</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Contact-less Deliery</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->

 



      </div>

    </section><!-- End Features Section -->


        <!-- =======Medicine Section ======= -->
    <section id="gallery" class="gallery container-fluid">
      <div class="container">

        <div class="section-title">
          <h2>Medicines Tab</h2>
          <p class="text-center">Huury Up! Book Now. A wide variety of medicines made available  to customers from local stores.<br>
          You can choose your preferable shop from where you want to buy medicines</p>
        </div>
      </div>

           <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-2.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/med2.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/med2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/med3.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/med3.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/med2.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/med2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/med3.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/med3.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/gallery-2.jpg' %}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>
        <br>
        <div class="text-center">
      <a href="/contact" style="  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;">More Medicines</a>
</div>

      </div>

    </section><!-- End Medicine Section -->


       <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2 class="text-center display-4">Doctors</h2>
          <p class="text-center">A very talented and famous team of doctors is always there to help you</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/doctors/doctors-1.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>General Physician</span>
                <p>M.B.B.D, B.D.M.S, M.D</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/doctors/doctors-2.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Anesthesiologist</span>
                <p>M.B.B.D, B.D.M.S, M.D</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/doctors/doctors-3.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cardiology</span>
                <p>M.B.B.D, B.D.M.S, M.D</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/doctors/doctors-4.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Neurosurgeon</span>
                <p>M.B.B.D, B.D.M.S, M.D</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Doctors Section -->

    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Make an Appointment</h2>
          <p>Doctors are availbale 24/7 you just need to get appointment and join through video call. Appointment will be given within 2 minutes of filling of appointment form incase of any Emergency</p>
        </div>

        <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="col-md-4 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              
            </div>
            <div class="col-md-4 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              
            </div>
            <div class="col-md-4 form-group">
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 form-group">
              <input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              
            </div>
            <div class="col-md-4 form-group">
              <select name="department" id="department" class="form-control">
                <option value="">Select Department</option>
                <option value="Department 1">Department 1</option>
                <option value="Department 2">Department 2</option>
                <option value="Department 3">Department 3</option>
              </select>
            </div>
            <div class="col-md-4 form-group">
              <select name="doctor" id="doctor" class="form-control">
                <option value="">Select Doctor</option>
                <option value="Doctor 1">Doctor 1</option>
                <option value="Doctor 2">Doctor 2</option>
                <option value="Doctor 3">Doctor 3</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
            <div class="validate"></div>
          </div>

          <div class="text-center"><button type="submit">Make an Appointment</button></div>
        </form>

      </div>
    </section><!-- End Appointment Section -->


  

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    What is the max discount I can get?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    You Can get Amazing Discount Upto 50% on First Order By Apllying Code<strong> ARYAMED</strong>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    What is the charges of delivery charges per order?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                   It is free for first ten orders but after that It may varies depending on distance from shop to Your Delivery Address.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    What if I want a doctor appointment at night?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Yes You can get a consultant at anytime in case of emergency but generally time of attending patient is 6:00 am to 12:00 am
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    What if I want a doctor appointment at night?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Yes You can get a consultant at anytime in case of emergency but generally time of attending patient is 6:00 am to 12:00 am
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    What is the max discount I can get?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                     You Can get Amazing Discount Upto 50% on First Order By Apllying Code<strong> ARYAMED
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    What is the charges of delivery charges per order?
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    It is free for first ten orders but after that It may varies depending on distance from shop to Your Delivery Address.
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section><!-- End F.A.Q Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Reviews</h2>
          <p>What Our <i class="bi bi-emoji-smile"></i> Customers Saying About Us</p>
        </header>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper">
          {% for z in imag %}
   
            <div class="swiper-slide">
            
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                {{z.comment}}
                </p>
                <div class="profile mt-auto">
                  <img src="https://webstockreview.net/images/profile-icon-png.png" class="testimonial-img" alt="">
                  <h3>{{z.username}}</h3>
                  <h4>{{z.profession}}</h4>
                </div>
              </div>
              
            </div><!-- End testimonial item -->
            {% endfor %}
             
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- End Testimonials Section -->
    
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Medicines Brands available</h2>
          <p>We provide best brands medicines</p>
        </header>

        <div class="clients-slider swiper-container">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-1.png' %} " class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-2.png' %} " class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-3.png' %} " class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-4.png' %} " class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-5.png' %} " class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-6.png' %} " class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-7.png' %} " class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-8.png' %} " class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section><!-- End Clients Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>

        </header>
              
        {% if messages %}
        <div class="container-fluid">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7367.858046133004!2d88.3334490225358!3d22.5817577970234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027793e322b5b1%3A0x252e90291f4157f5!2sHowrah%20Railway%2C%20Howrah%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1617313637515!5m2!1sen!2sin" width="1070" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
	       
                {% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
 {% endfor %}
{% endif %}

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>18/1 Ishwar Dutta Lane</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+91 9123067078<br>+91 9123045078</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>safemedicine@gmail.com<br>medicineinfo@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Active Hours</h3>
                  <p>Monday - Sunday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form method="post" action="/contacts">
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text"  reqiured class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>

        <div class="form-group">
            <label for="email">Email address: <i class="fa fa-envelope" style="font-size:1.2rem; color:blue"></i></label>
            <input type="email"  reqiured class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        
        <div class="form-group">
            <label for="phone">Phone Number: <i class="fa fa-phone" style="font-size:1.2rem; color:blue"></i></label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
        </div>      
        
        <div class="form-group">
            <label for="desc">Write Your Message: <i class="fa fa-comments" style="font-size:1.2rem;color:blue"></i></label>
            <textarea class="form-control"  reqiured id="desc" rows="3" name="desc"></textarea>
        </div>
        <button class="btn btn-primary" type="submit"><b>Send</b>  <i class="fa fa-send" style="font-size:1.2rem;color:white"></i></button>
    </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

<footer class="footer-distributed mt-0 mb-0">

			<div class="footer-left">

				<h3>Safe<span>Medicines</span></h3>

				<p class="footer-links">
					<a href="/">Home</a>
					·
					<a href="/medicine">Medicine</a>
					·
					<a href="/about">About</a>
					·
					<a href="/contact">Contact</a>
				</p>

				<p class="footer-company-name">Ode To Code &copy; 2021</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>18/1 Bon Behari Bose Road</span> Howrah, West Bengal</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 9123045078</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a style="color:white;font-weight:bold;font-size: 1.5rem;" href="https://mail.google.com/mail/?view=cm&fs=1&to=aryasah30@gmail.com"><span>Aryasah30@gmail.com</span></a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
          We promise reliable medicines at your doorsteps #Stay Safe #Stay at home
				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/arya.sah.98892"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="https://www.linkedin.com/in/arya-sah-5100121b3/"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>
	
	<div class="container-fluid " id="review">
		        <h4 class="text-center" style="color:white;" >Your <i style="color:#e62117;font-size=1.1rem" class="bi bi-heart-fill"></i> Feedback Matters</h4>
              <form style="color:white;display:block" class="text-center" action="/review" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="col-md-12">
                Username: {{forms.username}}
      </div>
      
      <br>
      <div class="col-md-12">
      Profession:
      {{forms.profession}}
      </div>
      <br>
      <div class="col-md-12">
      Comment:
      {{forms.comment}}
      </div>
      <br>
      <div class="col-md-12">
     &nbsp;&nbsp;
      {{forms.picture}}
      </div>

      <br>
      <input type="submit" class="btn btn-danger" value="Upload">
     </form>
	</div>

		</footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js'  %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'  %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'  %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
